extends ../templates/base

block content
	div(class="intro")
		div(class="intro-bg", style="background-image: url(../dummy/bgs/catalog.png)")
			div(class="page-inner page-inner--w1")
				div(class="intro-inner")
					h1(class="intro-title") Вино
					div(class="intro-btn-holder")
						a(href="archive.html", class="btn btn--white")
							span Архив вин

	div(class="catalog")
		div(class="page-inner page-inner--w1")
			form(class="filter", action="catalog.html")
				label(class="filter-item filter-item--all")
					input(type="radio", class="filter-item-field", data-htmlclass="jcf-filter-item", name="f1", value="all", checked)
					span(class="filter-item-name") Все
				label(class="filter-item filter-item--red")
					input(type="radio", class="filter-item-field", name="f1", value="2")
					span(class="filter-item-name") Красное
				label(class="filter-item filter-item--white")
					input(type="radio", class="filter-item-field", name="f1", value="3")
					span(class="filter-item-name") Белое
				label(class="filter-item filter-item--pink")
					input(type="radio", class="filter-item-field", name="f1", value="4")
					span(class="filter-item-name") Розовое
				label(class="filter-item filter-item--barrel")
					input(type="radio", class="filter-item-field", name="f1", value="5")
					span(class="filter-item-name") В бочках

			div(class="catalog-items")
				div(class="catalog-item", data-type="2", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/1.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Губернаторское Ркацители
						div(class="catalog-item-num") 1

				div(class="catalog-item", data-type="2", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/2.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Губернаторское Рислинг

				div(class="catalog-item", data-type="3", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/3.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Донская чаша Ркацители

				div(class="catalog-item", data-type="3", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							div(class="catalog-item-photo-inner")
								img(src="../dummy/catalog/4.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Правобережное Алиготе

				div(class="catalog-item", data-type="2", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/5.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Сибрьковый, 2013

				div(class="catalog-item", data-type="3", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/6.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Красностоп Золотовский

				div(class="catalog-item", data-type="2", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/7.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Првобережное 2012
						div(class="catalog-item-num") 1

				div(class="catalog-item", data-type="4", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/8.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Губернаторское Голубок

				div(class="catalog-item", data-type="4", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/9.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Сибирьковый
						div(class="catalog-item-num") 3

				div(class="catalog-item", data-type="5", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/10.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Ркацители в бочках

				div(class="catalog-item", data-type="5", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/11.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Цимлянский черный в бочках






