extends ../templates/base

block content
	div(class="page-hero")
		div(class="page-inner page-inner--w2")
			div(class="page-hero-inner")
				if page.breadcrumbs
					+breadcrumbs({
						rootClass: "page-breadcrumbs",
						items: page.breadcrumbs
					})
				h1(class="page-hero-title") Хутор Ведерников — колыбель русского виноделия
		img(src="../dummy/bgs/history.png", class="page-hero-bg")

	div(class="history")
		div(class="history-item history-item--aside", data-animation="true")
			div(class="history-item-photo-holder")
				img(class="history-item-photo", src="../dummy/history/1.png")
			div(class="page-inner page-inner--w2 page-inner")
				div(class="history-item-info page-text")
					h1 2000 лет назад
					p В окрестностях хутора Ведерников и в Приазовье греки-колонисты производили, пили и продавали вино больше двух тысяч лет назад, что подтверждают археологические находки в виде характерных сосудов и орудий труда. Современные способы выращивания и укрытия здешних виноградников напоминают технологии, описанные еще древнегреческим географом Страбоном. После греков на берегах Дона, сменяя друг друга, жили скифы, сарматы и хазары, продолжая заниматься виноделием. 

		div(class="history-item history-item--aside", data-animation="true")
			div(class="history-item-photo-holder")
				img(class="history-item-photo", src="../dummy/history/2.png")
			div(class="page-inner page-inner--w2")
				div(class="history-item-info page-text")
					h1 18 век
					p Нашествия половцев и татаро-монголов обескровили эти места на многие века, но казаки, заселившие берега Дона более 500 лет назад, смогли возродить ремесло. Непрерывно на донском правобережье виноделие существует, по крайней мере, с начала XVIII века. Ни один другой регион страны не может похвастать столь долгой традицией.

	div(class="history-item history-item--centered", data-animation="true")
		div(class="page-inner page-inner--w2")
			div(class="page-text")
				img(src="../dummy/history/5.png", align="left")
				p В 1756 году в столичном научно-популярном периодическом издании Императорской Академии наук «Сочинения к пользе и увеселению служащих» вышла статья «О разведении винограда», где автор убеждал привыкших к иноземным винам сограждан активно заниматься виноградарством в России, отмечая, что лоза вполне способна расти на широте между 46,5 и 50,5 градуса, то есть, от Астрахани и дальше к северу вплоть до нынешнего Ростова-на-Дону. В качестве примера он рассказал о казацких поселениях в городе Черкасске и станице Ведерниковской, где, несмотря на суровый климат, «изрядные сады» давали настолько отличный урожай винограда, что местные жители и себя обеспечивали, и на сторону продавали немало. 
				p Такого результата казакам удалось добиться всего за несколько десятилетий, во многом благодаря оригинальным агроприёмам, позволяющим винограду переживать зиму. Спустя два с половиной столетия донские виноградари делают то же самое. Здесь до сих пор практикуется укрывное виноградарство, в домашних хозяйствах также используется старый казачий способ формирования лозы в виде «донской чаши» и сохраняются традиционные винодельческие приемы. На Дону сумели сохранить автохтонные сорта винограда, в том числе Красностоп Золотовский, Цимлянский Черный и Сибирьковый. 

	div(class="history")
		div(class="history-item history-item--aside", data-animation="true")
			div(class="history-item-photo-holder")
				img(class="history-item-photo", src="../dummy/history/3.png")
			div(class="page-inner page-inner--w2")
				div(class="history-item-info page-text")
					h1 60-е гг XX века
					p Уникальные виноградники с традиционными казачьими сортами по решению центральных властей возродили в 60-х годах прошлого века. Заветные саженцы-чубуки агрономы разыскивали по питомникам и частным хозяйствам, а лучшую коллекцию собрал винсовхоз «Ведерники».
	
		div(class="history-item history-item--aside", data-animation="true")
			div(class="history-item-photo-holder")
				img(class="history-item-photo", src="../dummy/history/4.png")
			div(class="page-inner page-inner--w2")
				div(class="history-item-info page-text")
					h1 2000-е 
					p В конце XX века хозяйство пережило тяжелые времена, но в 2000-х энтузиасты, первой из которых была компания «Донвинпром», снова возродили донское виноделие. 2015 году «Винодельни Ведерниковъ» стала членом группы компаний «Абрау-Дюрсо». При объединении была разработана обширная инвестиционная программа, выполнение который приведет к полному техническому переоснащению винодельни и удвоению площадей виноградников хозяйства, в первую очередь, за счёт аборигенных сортов.


