extends ../templates/base

block content
    div(class="intro")
        div(class="intro-bg")
        div(class="page-inner page-inner--w1")
            div(class="intro-inner")
                div(class="intro-logo") Винодельня Ведерниковъ
                div(class="intro-text")
                    | «Винодельня Ведерниковъ»: 
                    br
                    | вино с русской душой
    
    div(class="sections")
        a(href="#", class="section-item section-item--bottom")
            div(class="section-item-photo-holder", style="background-image: url('../dummy/sections/s1.png')", data-animationtype="zoomIn")
            div(class="section-item-title", data-animationtype="slideTop") «Красностоп Золотовский», выдержанный в дубовых бочках — самое титулованное вино
        
        a(href="#", class="section-item section-item--shadow")
            div(class="section-item-photo-holder", style="background-image: url('../dummy/sections/2.png')", data-animationtype="zoomIn")
            div(class="section-item-title", data-animationtype="slideTop")
                | Первый 
                br
                | в России терруар
                
    div(class="wine", data-animationtype="wine")
        div(class="page-inner page-inner--w1")
            div(class="wine-inner")
                div(class="wine-title") Вино
                div(class="wine-description")
                    | Мы выпускаем премиальные тихие вина, 
                    br
                    | на основе автохтонных сортов.
                a(href="#", class="btn btn--orange")
                    span(class="btn-text") Смотреть
            
            div(class="wine-item-holder wine-item-holder--lt")
                div(class="wine-item") 
                
            div(class="wine-item-holder wine-item-holder--rt")
                div(class="wine-item")
            
            div(class="wine-item-holder wine-item-holder--rb")    
                div(class="wine-item")
                    
            div(class="wine-item-holder wine-item-holder--lb")
                div(class="wine-item")
                
    div(class="sections")
        a(href="#", class="section-item section-item--shadow")
            div(class="section-item-photo-holder", style="background-image: url('../dummy/sections/3.png')", data-animationtype="zoomIn")
            div(class="section-item-title", data-animationtype="slideTop")
                | Винодельня
                br
                | Ведерниковъ
        
        a(href="#", class="section-item section-item--shadow")
            div(class="section-item-photo-holder", style="background-image: url('../dummy/sections/4.png')", data-animationtype="zoomIn")
            div(class="section-item-title", data-animationtype="slideTop")
                | Аборигенные  
                br
                | сорта винограда
                
    div(class="news")
        div(class="page-inner page-inner--w1")
            h2(class="news-title") Новости
            div(class="news-items")
                a(href="#", class="news-item")
                    div(class="news-item-panel", data-animationtype="slideTop")
                        div(class="news-item-date") 17 августа 2017
                        div(class="news-item-name") Высокий класс игры в исполнении «Винодельни Ведерниковъ» на «Кубке Союза виноградарей»
                    div(class="news-item-photo-holder")
                        div(class="news-item-photo", style="background-image: url(../dummy/news/1.png)", data-animationtype="zoomIn")
                        
                a(href="#", class="news-item")
                    div(class="news-item-panel", data-animationtype="slideTop")
                        div(class="news-item-date") 24 мая 2017 
                        div(class="news-item-name") Кубок СВВР в Абрау-Дюрсо: успех ведерниковского Каберне Совиньон 2015
                    div(class="news-item-photo-holder")
                        div(class="news-item-photo", style="background-image: url(../dummy/news/2.png)", data-animationtype="zoomIn")

    div(class="cats")
        a(href="#", class="cat-item")
            div(class="cat-item-inner", data-animationtype="fadeIn")
                div(class="cat-item-section") История
                div(class="cat-item-title") Хутор Ведерников — колыбель русского виноделия
            div(class="cat-item-bg", style="background-image: url(../dummy/cats/1.png)", data-animationtype="zoomIn")
        a(href="#", class="cat-item")
            div(class="cat-item-inner", data-animationtype="fadeIn")
                div(class="cat-item-section") Награды и призы
                div(class="cat-item-title")  Качество, подтвержденное экспертами
            div(class="cat-item-bg", style="background-image: url(../dummy/cats/2.png)", data-animationtype="zoomIn")                                 
        a(href="#", class="cat-item")
            div(class="cat-item-inner", data-animationtype="fadeIn")
                div(class="cat-item-section") Технологии
                div(class="cat-item-title") Новейшие технологии виноделия
            div(class="cat-item-bg", style="background-image: url(../dummy/cats/3.png)", data-animationtype="zoomIn")
                
                
                
                
                
