extends ../templates/base

block content
	div(class="product")
		div(class="product-heading")
			div(class="page-inner page-inner--w2")
				div(class="product-brand") Винодельня Ведерниковъ
				div(class="product-name") Цимлянский черный
				div(class="product-type") Красное сухое

		div(class="product-row")
				div(class="product-photo-holder", data-animation="true")
					div(class="product-photo-inner")
						img(src="../dummy/product/w2.png", class="product-photo")

				div(class="product-info")
					div(class="product-features", data-animation="true")
						div(class="product-features-items")
							div(class="product-feature-item product-feature-item--year")
								div(class="product-feature-item-icon")
								div(class="product-feature-description")
									div(class="product-feature-item-description-title") Год урожая
									div(class="product-feature-item-description-text") 2011

							div(class="product-feature-item product-feature-item--grapes")
								div(class="product-feature-item-icon")
								div(class="product-feature-description")
									div(class="product-feature-item-description-title") Виноград
									div(class="product-feature-item-description-text") 100% Сибирьковый (автохтонный)

							div(class="product-feature-item product-feature-item--color")
								div(class="product-feature-item-icon")
								div(class="product-feature-description")
									div(class="product-feature-item-description-title") Цвет
									div(class="product-feature-item-description-text") Вино светлого, блестящего цвета с зеленоватыми бликами.

							div(class="product-feature-item product-feature-item--scent")
								div(class="product-feature-item-icon")
								div(class="product-feature-description")
									div(class="product-feature-item-description-title") Аромат
									div(class="product-feature-item-description-text") Вино обладает чарующим ароматом с нотами цветов, степного разнотравья и легкими дубовыми нюансами.

							div(class="product-feature-item  product-feature-item--taste")
								div(class="product-feature-item-icon")
								div(class="product-feature-description")
									div(class="product-feature-item-description-title") Вкус
									div(class="product-feature-item-description-text") Вкус вина свежий, мягкий, деликатный, с нотами персика и мускатного ореха, с низкой кислотностью и элегантным послевкусием.

							div(class="product-feature-item product-feature-item--combination")
								div(class="product-feature-item-icon")
								div(class="product-feature-description")
									div(class="product-feature-item-description-title") Гастрономические сочетания
									div(class="product-feature-item-description-text") Вино является отличным аперитивом, также хорошо сочетается с холодными закусками, салатами, белым мясом, морепродуктами, рыбой и мягкими сырами. 

							div(class="product-feature-item product-feature-item--temp")
								div(class="product-feature-item-icon")
								div(class="product-feature-description")
									div(class="product-feature-item-description-title") Температура сервировки
									div(class="product-feature-item-description-text") 10-12°С

							div(class="product-feature-item product-feature-item--alc")
								div(class="product-feature-item-icon")
								div(class="product-feature-description") 
									div(class="product-feature-item-description-text") Алк. 12,5%, 0,75 л.

	div(class="catalog catalog--inline")
		div(class="page-inner page-inner--w1")
			div(class="catalog-title") Вам может понравится
			div(class="catalog-items")
				div(class="catalog-item", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/10.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Ркацители в бочках

				div(class="catalog-item", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/11.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Цимлянский черный в бочках
						div(class="catalog-item-num") 2

				div(class="catalog-item", data-animation="true")
					a(href="#", class="catalog-item-inner")
						div(class="catalog-item-photo-holder")
							img(src="../dummy/catalog/4.png", class="catalog-item-photo")
						div(class="catalog-item-brand") Винодельня Ведерниковъ
						div(class="catalog-item-name") Правобережное Алиготе
						div(class="catalog-item-num") 3


