extends ../templates/base

block content
	div(class="page-hero")
		div(class="page-inner page-inner--w1")
			if page.breadcrumbs
				+breadcrumbs({
					rootClass: "page-breadcrumbs",
					items: page.breadcrumbs
				})
			h1(class="h1") Люди - соль земли или придумать другой заголовок
			img(src="../dummy/bgs/team.png", class="page-hero-bg")

	div(class="team")
		div(class="page-inner page-inner--w1")
			div(class="team-item")
				div(class="team-item-photo-holder")
					img(src="../dummy/team/1.png", class="team-item-photo")
				div(class="team-item-info")
					div(class="team-item-name") Тройчук Валерий
					div(class="team-item-post") Председатель совета директоров винодельческой группы «Ведерников» и главный популяризатор российских автохтонов
					div(class="team-item-text") Первое документальное свидетельство присутствия Красностопа в окрестностях хутора Ведерников датировано 1814 годом. Таким образом, данный сорт непрерывно растет здесь как минимум 200 лет. 

			div(class="team-item")
				div(class="team-item-photo-holder")
					img(src="../dummy/team/2.png", class="team-item-photo")
				div(class="team-item-info")
					div(class="team-item-name") Тройчук Валерий
					div(class="team-item-post") Председатель совета директоров винодельческой группы «Ведерников» и главный популяризатор российских автохтонов
					div(class="team-item-text") Первое документальное свидетельство присутствия Красностопа в окрестностях хутора Ведерников датировано 1814 годом. Таким образом, данный сорт непрерывно растет здесь как минимум 200 лет. 

			div(class="team-item")
				div(class="team-item-photo-holder")
					img(src="../dummy/team/3.png", class="team-item-photo")
				div(class="team-item-info")
					div(class="team-item-name") Тройчук Валерий
					div(class="team-item-post") Председатель совета директоров винодельческой группы «Ведерников» и главный популяризатор российских автохтонов
					div(class="team-item-text") Первое документальное свидетельство присутствия Красностопа в окрестностях хутора Ведерников датировано 1814 годом. Таким образом, данный сорт непрерывно растет здесь как минимум 200 лет. 

			div(class="team-item")
				div(class="team-item-photo-holder")
					img(src="../dummy/team/4.png", class="team-item-photo")
				div(class="team-item-info")
					div(class="team-item-name") Тройчук Валерий
					div(class="team-item-post") Председатель совета директоров винодельческой группы «Ведерников» и главный популяризатор российских автохтонов
					div(class="team-item-text") Первое документальное свидетельство присутствия Красностопа в окрестностях хутора Ведерников датировано 1814 годом. Таким образом, данный сорт непрерывно растет здесь как минимум 200 лет. 

			div(class="team-item")
				div(class="team-item-photo-holder")
					img(src="../dummy/team/5.png", class="team-item-photo")
				div(class="team-item-info")
					div(class="team-item-name") Тройчук Валерий
					div(class="team-item-post") Председатель совета директоров винодельческой группы «Ведерников» и главный популяризатор российских автохтонов
					div(class="team-item-text") Первое документальное свидетельство присутствия Красностопа в окрестностях хутора Ведерников датировано 1814 годом. Таким образом, данный сорт непрерывно растет здесь как минимум 200 лет. 

			div(class="team-item")
				div(class="team-item-photo-holder")
					img(src="../dummy/team/6.png", class="team-item-photo")
				div(class="team-item-info")
					div(class="team-item-name") Тройчук Валерий
					div(class="team-item-post") Председатель совета директоров винодельческой группы «Ведерников» и главный популяризатор российских автохтонов
					div(class="team-item-text") Первое документальное свидетельство присутствия Красностопа в окрестностях хутора Ведерников датировано 1814 годом. Таким образом, данный сорт непрерывно растет здесь как минимум 200 лет. 
