extends ../templates/base

block content
	div(class="page-hero")
		div(class="page-inner page-inner--w1")
			if page.breadcrumbs
				+breadcrumbs({
					rootClass: "page-breadcrumbs",
					items: page.breadcrumbs
				})
			h1(class="h1") Новейшие технологии виноделия
			img(src="../dummy/bgs/techs.png", class="page-hero-bg")

	div(class="page-cite") При производстве вин «Винодельни Ведерниковъ» используется самый актуальный мировой опыт и лучшие энологические средства. 

	div(class="page-description")
		div(class="page-inner page-inner--w1")
			div(class="page-text") Винодельня, построенная в 70-е годы прошлого века для производства массового продукта невысокого качества, с 2007 года постоянно модернизируется. Сегодня основное технологическое оборудование представлено марками европейских производителей, в основном из Франции и Италии. Емкостной парк был серьёзно обновлён в 2016 году и позволяет решать все задачи, возникающие при производстве красных и белых вин.

	div(class="page-inner page-inner--w1")
		div(class="techs")
			div(class="tech-item")
				div(class="tech-item-col tech-item-col--w1")
					div(class="page-text") Все сорта винограда убираются вручную, значительная часть убирается в небольшие пластиковые ящики, позволяющие доставить виноград на переработку без повреждений. Корнесобственный виноград, к которому относится большая часть посадок в Ведерникове, сам по себе имеет невысокую урожайность, что благоприятно сказывается на концентрации ценных веществ в ягодах. При необходимости урожайность контролируется агроприёмами (“зеленый сбор” и т.п.)
				div(class="tech-item-col tech-item-col--w2")
					img(src="../dummy/techs/1.png")
				div(class="tech-item-col tech-item-col--w2")
					img(src="../dummy/techs/2.png")

			div(class="tech-item")
				div(class="tech-item-col tech-item-col--w3")
					img(src="../dummy/techs/3.png")
				div(class="tech-item-col tech-item-col--w1")
					div(class="page-text") Сложная технологическая цепочка, без которой невозможно производство современных премиальных белых вин, начинается с ручной уборки винограда в ящики и его охлаждения в холодильной камере, если того требуют погодные условия. На всех этапах после дробления и до брожения мезга и сусло защищаются от окисления сухим льдом и инертным газом.

			div(class="tech-item")
				div(class="tech-item-col tech-item-col--w1")
					img(src="../dummy/techs/4.png")
				div(class="tech-item-col tech-item-col--w1")
					div(class="page-text")
						| Применение самых передовых энологических препаратов и методик позволяет «Винодельне Ведерниковъ» производить белые вина на высоком международном уровне, в том числе, уникальное вино из аборигенного сорта Сибирьковый. 
						| С недавних пор также налажено производство выдержанных в дубовых бочках белых вин из сорта Ркацители. Красные сорта винограда также убираются вручную, при необходимости охлаждаются и проходят сортировку на специальной ленте-транспортёре. 
				div(class="tech-item-col tech-item-col--w2")
					img(src="../dummy/techs/5.png")

			div(class="tech-item")
				div(class="tech-item-col tech-item-col--w2")
					img(src="../dummy/techs/6.png")
				div(class="tech-item-col tech-item-col--w1")
					img(src="../dummy/techs/7.png")
				div(class="tech-item-col tech-item-col--w1")
					div(class="page-text")
						| Основной технологической процедурой, применяемой для производства красных вин «Винодельни Ведерниковъ», является делестаж — техника, для комфортного использования которой необходимы специализированные ёмкости. В 2015 году были приобретены винификаторы особой конструкции производства Letina (Хорватия); обладателей подобных систем винификации можно пересчитать по пальцам одной руки.

			div(class="tech-item")
				div(class="tech-item-col tech-item-col--w2")
					img(src="../dummy/techs/8.png")
				div(class="tech-item-col tech-item-col--w1")
					div(class="page-text")
						|  В 2016 в Италии на заводе компании Fracchiola была выпущена пилотная партия уникальных винификаторов ULTRA TT. Эта система сконструирована по спецификации энологов «Винодельни Ведерниковъ» и учитывает весь накопленный опыт работы и особенности применяемых технологий, в том числе, особенности аборигенных сортов винограда. Также в 2016 году был приобретён современный корзиночный пресс для красной мезги.
				div(class="tech-item-col tech-item-col--w1")
					img(src="../dummy/techs/9.png")
	
			div(class="tech-item")
				div(class="tech-item-col tech-item-col--w1")
					img(src="../dummy/techs/10.png")
				div(class="tech-item-col tech-item-col--w1")
					div(class="page-text") Лучшие вина выдерживаются во французских дубовых бочках разных степеней обжига, изготовленных по специальной технологии лучшими бондарнями Франции. Производство подобных бочек - серьёзный и затратный процесс, не терпящий спешки. Зрелая древесина должна пролежать на открытом воздухе в течение как минимум двух лет, чтобы созрели танины и ушла влага. Большое значение имеет порода дуба и танинный потенциал конкретного дерева.
				div(class="tech-item-col tech-item-col--w2")
					img(src="../dummy/techs/11.png")

			div(class="tech-item")
				div(class="tech-item-col tech-item-col--w1")
					img(src="../dummy/techs/12.png")			
				div(class="tech-item-col tech-item-col--w3")
					img(src="../dummy/techs/13.png")

			div(class="tech-item")
				div(class="tech-item-col tech-item-col--w1")
					div(class="page-text")
						cite При производстве вин «Винодельни Ведерниковъ» используется самый актуальный мировой опыт и лучшие энологические средства.
				div(class="tech-item-col tech-item-col--w2")
					img(src="../dummy/techs/14.png")
				div(class="tech-item-col tech-item-col--w1")
					div(class="page-text") Высокому качеству продукции мы всецело обязаны нашему многолетнему консультанту, техническому специалист корпорации «Лаллеманд», Владану Николичу (Сербия), чьи широчайшие познания в области микробиологии вина вкупе с выдающимися дегустаторскими способностями и человеческими качествами позволяют нам максимально реализовывать потенциал нашего винограда.








