extends ../templates/base

block content
	div(class="intro")
		div(class="intro-bg", style="background-image: url(../dummy/bgs/terr.png)")
			div(class="page-inner page-inner--w2")
				div(class="intro-inner")
					h1(class="intro-title") Уникальный донской терруар

	div(class="terr")
		div(class="page-inner page-inner--w2")
			div(class="terr-title") Хутор Ведерников, где расположены виноградники винодельни, находится в Правобережной зоне на высоком берегу Дона в Константиновском районе в 160 километрах от Ростова-на-Дону. 

	div(class="about-block", data-animation="true")
		div(class="page-inner page-inner--w2")
			div(class="about-block-info about-block-info--left")
				div(class="about-block-info-item about-block-info-item--orange")
					div(class="about-block-info-descrition") Сравнительно неширокая полоса правобережья Дона охватывает крутые береговые склоны и прилегающую к ним степь.   
				div(class="about-block-info-item about-block-info-item--white")
					div(class="about-block-info-descrition") Выразительный рельеф над рекой украшают многочисленные курганы скифских захоронений. 
		img(src="../dummy/terr/1.png", class="about-block-img")


	div(class="page-inner page-inner--w2")
		div(class="techs")
			div(class="tech-item", data-animation="true")
				div(class="tech-item-col tech-item-col--w3")
					img(src="../dummy/terr/2.png")
				div(class="tech-item-col tech-item-col--w1")
					div(class="page-text")
						h2 Климат
						p Климат Долины Дона, охватывающей 460 км от Ростова на востоке до Цимлянского водохранилища на западе, непрост для виноградарства. Летом здесь очень жарко, зимы суровы, а вегетационный период лозы очень короткий. Под влиянием крупной реки и других факторов разница дневных и ночных температур в августе-сентябре доходит до 15-20 ºС. 

	div(class="image", data-animation="true")
		img(src="../dummy/terr/3.png")

	div(class="page-inner page-inner--w2")
		div(class="techs")
			div(class="tech-item", data-animation="true")
				div(class="tech-item-col tech-item-col--w2")
					img(src="../dummy/terr/4.png")
				div(class="tech-item-col tech-item-col--w2")
					div(class="page-text")
						h2 Укрывное виноградарство
						p Укрывное виноградарство — дело очень трудоемкое и дорогостоящее, встретить его можно лишь в нескольких регионах мира. Главным препятствием для выращивания винограда на Дону являются суровые и продолжительные зимние заморозки, ведь если лоза подвергнется воздействию температур -20ºC и ниже в течении хотя бы пары суток, она погибнет.  Однако, резон выращивать виноград там, где бывает холодно, огромен, поскольку в экстремальных условиях получаются самые интересные вина. 

	div(class="about-block", data-animation="true")
		div(class="page-inner page-inner--w2")
			div(class="about-block-info about-block-info--left")
				div(class="about-block-info-item about-block-info-item--orange")
					div(class="about-block-info-title") 160 га
					div(class="about-block-info-descrition") Площадь виноградных насаждений
				div(class="about-block-info-item about-block-info-item--white")
					div(class="about-block-info-title") &lt; 80%
					div(class="about-block-info-descrition") виноградников укрывные 
		img(src="../dummy/terr/5.png", class="about-block-img")


	div(class="page-inner page-inner--w2")
		div(class="techs")
			div(class="tech-item", data-animation="true")
				div(class="tech-item-col tech-item-col--w2")
					div(class="page-text")
						p Ароматный и сбалансированный виноград, который необходим для производства изысканных вин, обычно получают именно в прохладном климате. Сумма активных температур за вегетационный период в терруаре 	хутора Ведерников составляет от 3600 до 3900 ºС , что позволяет вызревать даже поздним сортам. Среднегодовое количество осадков — 412 мм.
						p Также терруар хутора Ведерников отличается ветреной сухой и жаркой погодой. Это способствует быстрому осушению виноградников даже после сильных дождей, препятсвует созданию благотворных условий для развитии болезней, что позволяет уменьшить количество обработок. Их общее число в 2-3 раза меньше, чем на обычных виноградниках Европы.
				div(class="tech-item-col tech-item-col--w2")
					img(src="../dummy/terr/6.png")

	div(class="image", data-animation="true")
		img(src="../dummy/terr/7.png")

	div(class="page-inner page-inner--w2")
		div(class="techs")
			div(class="tech-item", data-animation="true")
				div(class="tech-item-col tech-item-col--w1")
					img(src="../dummy/terr/7.png")
				div(class="tech-item-col tech-item-col--w1")
					img(src="../dummy/terr/8.png")
				div(class="tech-item-col tech-item-col--w2")
					div(class="page-text")
						h2 Почвы
						p Почвы представлены южными чернозёмами с обеднённым плодородным слоем. Подстилающая порода — глина, материнская порода – ракушечное плато. Толщина слоев варьируется, но общая композиция сохраняется. Именно благодаря плато морского ракушечника вина из хутора Ведерников приобретают деликатную минеральность. Из-за глубоко залегающих грунтовых вод корневая система вынуждена проникать на глубину более пяти метров. Однако большая часть почв хорошо дренирована, и это позволяет корням великолепно сохраняться при любых погодных условиях.

	div(class="image", data-animation="true")
		img(src="../dummy/terr/10.png")


